h1 {
  color: #000;
}
.navigation {
  width: 100%;
  margin: 0px;
  height: 25vh;
  display: flex;
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.navigation a button {
  border: 2px solid transparent;
  color: #fff;
  background: transparent;
  width: 100%;
  height: 60%;
  font-size: calc(20px + (48 - 14) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 30px;
  padding: 10px;
}

.navigation a button:hover {
  background-color: rgba(0, 0, 0, 0.425);
  transition: 1s;
}

.navigation a button:not(:hover) {
  background-color: transparent;
  transition: 1s;
}

.layerDetail {
  background-color: rgba(182, 181, 170, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 30px;
}

.layerDetail svg {
  position: absolute;
}

.layerDetail h1 {
  width: 100%;
}

.layerDetail input {
  width: 30%;
  height: 30%;
  box-sizing: border-box;
  font-size: 2rem;
  margin: auto;
}

.detailsData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carImage {
  width: 70%;
  max-width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.userInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userInfo h2 {
  width: 100%;
}
.userInfo img {
  width: 300px;
}
.detailsAboutImage {
  width: 100%;
  text-align: center;
}

.detailsAboutImage img {
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .detailsData img:nth-child(1) {
    width: 100%;
  }
  .carImage {
    width: 100%;
  }
  .detailsAboutImage {
    width: 100%;
  }

  .detailsAboutImage img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
  }
}
