h1 {
  color: #000;
}
.navigation {
  width: 100%;
  margin-bottom: 20px;
  margin: 0px;
  height: 300px;
  display: flex;
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  color: #fff;

  z-index: 1330;
}
.layerDetail {
  padding: 20px;
  background-color: rgba(182, 181, 170, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 30px;
}

.layerDetail svg {
  position: absolute;
}

.layerDetail h1 {
  width: 100%;
  font-size: calc(2rem + 2vw);
}

.layerDetail input {
  width: min(200px, 90%);
  height: 30%;
  box-sizing: border-box;
  font-size: 2rem;
  margin: auto;
}

.container-detail {
  width: min(800px, 100%);
  border: 1px solid gray;
  text-align: center;
  margin: 0 auto;
}

.listContainer-detail {
  overflow: hidden;
}

.listContainer-detail button {
  position: absolute;
  margin: 20px;
  width: 60px;
  height: 40px;
  border-radius: 20%;
  background-color: #f03838;
  border: 2px solid #f03838;
  box-sizing: border-box;
  z-index: 2;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

.container h4 {
  color: red;
}

.container h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer-detail img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.listContainer-detail img:hover {
  transition: 1s all ease-in-out;
  transform: scale(1.1);
}
.listContainer-detail img:not(:hover) {
  transition: 1s all ease-in-out;
  transform: scale(1);
}

@media only screen and (max-width: 900px) {
}
